footer{
	min-height: 84px;
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
}
.footer-div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.footer-p{
	padding-right: 5px;
}
