.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: black;
	height: 84px;
	width: 100%;
	position: fixed;
	z-index: 900;
}
.nav{
	/*background-color: red;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	width: calc(8*100%/12);
	justify-content: space-between;
}
.header__name-p{
	padding-bottom: 10px;
}
.header__name-img:hover{
	filter: invert(.5);
}
.header__menu{
	display: none;
}
.header__link{
	display: inline-block;
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	text-decoration: none;
}
.header__link:hover{
	color: #abb1a8;
}
.header__link--green{
	color: #67EE28;
	font-weight: 500;
	font-size: 36px;
}
.header__link--green:hover{
	filter: invert(.5);
}
.header__name{
	display: flex;
	width: 220px;
	justify-content: space-between;
	/*background-color: blue;*/
}
.logo{
	width: calc(4*100%/11);
	display: flex;
	justify-content: center;
}
.nav-links{
	/*width: calc(11*100%/18);*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background-color: green;*/
	width: 100%;
}
.buttons{
	/*background-color: blue;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: calc(5*100%/18);
	padding-right: 15px;
}
.buttons__signup{
	background-color: #67EE28;
	border-style: none;
	color: black;
	font-weight: bolder;
	width: 142px;
	height: 30px;
	border-radius: 12px;
}
.buttons__signup:hover{
	background-color: green;
	color: white;
	cursor: pointer;
}
