
body{
	background-image: url(../pictures/background.png);
	background-size: 100%;
}

main{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
	padding-top: 84px;
}

div.index{
  width: 774px;
	min-height: 85vh;
}

h1.index__h1{
  padding-top: 43px;
  padding-bottom: 43px;
  font-size: 4em;
}

h2.index__h2{
  font-size: 3em;
}
h2.index__h2:before{
	display: block;
	content: "";
	height: 84px;
	margin: -84px 0 0;
}

h3.index__h3{
  font-size: 2em;
}

p.index__p{
		font-size: 1.3em;
		padding-top:15px;
}

li.index__li{
  margin-top: 5px;
  list-style-type: none;
}

a.index__text__links{
  text-decoration: none;
}

a.profile__links{
  text-decoration: none;
  font-size: 1.3em;
}
