@import url('https://fonts.googleapis.com/css?family=Exo+2:500,600&display=swap');
@import "header.css";
@import "footer.css";

*{
	margin: 0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
}
.news{
	width: 60%;
	background-color: green;
}

.news-blocks{
	background-color: blue;
	width: 100%;
	min-height: 600px;
	display: flex;
	flex-direction: column;
}
