@media (max-width:480px) {
  div.index{
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
  }
  h1.index__h1{
      font-size:3em;
  }
  p.index__p{
    font-size: 1.4em;
  }
  a.index__text__links, a.profile__links{
    font-size: 30px;
  }
}
@media (max-width:800px) and (min-width:481px){
  div.index{
    width: 70%;
  }
}
