@import "media.css";

@media (max-width:800px){
	div.profile{
		flex-direction: column;
		align-items: center;
	}
	div.profile_img{
		margin: 0;
	}
	div.profile_form{
		margin-top: 5vw;
	}
}
@media (max-width:480px){
	div.profile{
		width: 90vw;
	}
	input{
		width: 250px;
		height: 50px;
		font-size: 1.20em;
	}
	#uploadfile{
		font-size: 0.80em;
	}
}
@media (max-width:1050px) and (min-width:801px){
	body{
		background-image: url(../pictures/background.png);
		background-size: 100%;
	}
}
@media (max-width:854px) and (min-width:801px){
	body{
		background-image: none;
	}
}
