@media (max-width:480px) {
  body{
    background-image: none;
  }
  main{
    margin-bottom: 25px;
  }
  .header{
    justify-content: space-between;
  }
  .logo{
    width: 60%;
  }
  .header__name{
      width: 100%;
  }
  .news{
    width: 100%;
    height: 100%;
  }
  .ad{
    position:absolute;
    top:-9999px;
  }
  .header__link{
    display: none;
  }
  .header__link--green{
    display: flex;
    font-size: 32px;
  }
  .header__link--img{
    display: inline-block;
  }
  .header__menu{
  	display: flex;
    flex-direction: row;
    align-items: center;
    width: 23%;
    box-sizing: border-box;
  }
  input.registration{
  height: 40px;
  }

  div.form_main_title{
    height: 550px;
  }
  .nav{
    width: 25%;
  }
  .nav-links{
    justify-content: center;
  }
  .buttons__signup{
    height: 45px;
    padding: 5px;
  }
}

@media (max-width:651px) and (min-width:481px){
  main{
    margin-bottom: 25px;
    padding-top: 50px;
  }
  .buttons__signup{
    margin-left: 2vw;
  }
  .header{
    height: 70px;
    justify-content: space-between;
  }
  .logo{
    width: 60%;
  }
  .header__name{
    width: 100%;
  }

  .header__link{
      display: none;
  }
    .header__link--green{
    display: flex;
  }
  .header__link--img{
    display: inline-block;
  }
  .header__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 23%;
    box-sizing: border-box;
  }
  input.registration{
  height: 40px;
  }

  div.form_main_title{
    height: 550px;
  }
  .nav{
    width: 25%;
  }
  .nav-links{
    justify-content: center;
  }
  .buttons__signup{
    height: 45px;
    padding: 5px;
  }
  .news{
    width: 70%;
    height: 100%;
  }
  .buttons__signup{
    height: 40px;
  }
  .ad{
    position:absolute;
    top:-9999px;
  }
}

@media (max-width:800px) and (min-width:650px) and (max-height: 480px) {
  main{
    margin-bottom: 25px;
    padding-top: 50px;
  }
  .buttons__signup{
    margin-left: 2vw;
  }
  .header{
    height: 65px;
  }
  .nav-links{

  }
  .news{
    width: 70%;
    height: 100%;
  }
  .buttons__signup{
    height: 40px;
  }
  .ad{
    position:absolute;
    top:-9999px;
  }
}

@media (max-width:800px) and (min-width:650px) and (min-height: 481px) {
  main{
    margin-bottom: 25px;
    padding-top: 84px;
  }
  .header{
    height: 84px;
  }
  .news{
    width: 70%;
    height: 100%;
  }
  .buttons__signup{
    height: 40px;
  }
  .ad{
    position:absolute;
    top:-9999px;
  }
}
@media (max-width:1050px) and (min-width:801px){
  body{
    background-image: none;
  }
}
