@media (max-width:480px) {
  .news__block{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vw;
    padding-bottom: 5vw;
    min-height: 25vh;
    border-radius: 0px;
    margin-bottom: 10px;
  }
  .news__h1{
    font-size: 2em;
    padding-left: 5vw;
  }
  .news__img{
    width: 90vw;
    height: 20vh;
    border-radius: 11px;
    margin-bottom: 5vw;
  }
  .news__p{
    font-size: 1.5em;
  }
  .news__p2{
    padding-top: 5vh;
  }
  .news__text{
  	width:90vw;
  }
  .news__text-t{
    width:90vw;
    min-height: 5vh;
  }
}
@media (max-width:800px) and (min-width:500px) and (max-height: 480px) {
  .news__block{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
    padding-bottom: 5vh;
    min-height: 80vh;
    margin-bottom: 10px;
  }
  .news__h1{
    font-size:3em;
  }
  .news__p2{
    padding-top: 5vh;
  }
  .news__img{
    width: 92%;
    height: 60vh;
    border-radius: 11px;
    margin-top: 20px;
    box-sizing: border-box;
  }
  .news__text{
    width: 92%;
  }
  .news__text-t{
    width: 92%;
    min-height: 5%;
  }
}
@media (max-width:800px) and (min-width:500px) and (min-height: 481px) {
  .news__block{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 20vh;
    margin-bottom: 10px;
  }
  .news__h1{
    font-size:3em;
  }
  .news__img{
    width: 92%;
    height: 30vh;
    border-radius: 11px;
    margin-top: 20px;
    box-sizing: border-box;
  }
  .news__text{
    width: 92%;
  }
  .news__text-t{
    width: 92%;
    min-height: 5%;
  }
}
