@import "media.css";
@media (max-width:480px){
  .news-blocks{
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
  }
  .news__h2{
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.5em;
  }
  .news__article-img{
    width: 90vw;
  }
  .news__day{
    width: 90vw;
  }
  .news__article-p{
    font-size:1.3em;
  }
  .one-comment__name{
  	font-size: 1.5em;
  }
  .one-comment__p{
    font-size: 1.3em;
  }
}
