body{
	background-image: url(../pictures/background.png);
	background-size: 100%;
}
main{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
	padding-top: 12vh;
}
.news__h1{
	padding-top: 43px;
	padding-bottom: 43px;
	font-size: 4em;
}
.news-link{
	text-decoration: none;
	color: black;
}
.news__block{
	width: 100%;
	min-height: 200px;
	background-color: #F5FFF0;
	border-radius: 11px;
	border: 1px solid #72B571;
	overflow: hidden;
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.news__block:hover{
	background-color: #e6eee2;
}
.news__img{
	width: 240px;
	height: 180px;
	background-size: cover;
}
.news__text{
	width:30vw;
}
.news__p{
	/*background-color: yellow;*/
	padding-left: 10px;
	padding-right: 10px;
	font-size: 34px;
}
