body{
	background-image: url(../pictures/background.png);
	background-size: 100%;
}
main{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
	padding-top: 84px;
}
.news__h1{
	padding-top: 43px;
	padding-bottom: 43px;
	font-size: 4em;
}
.news-link{
	text-decoration: none;
	color: black;
}
.news__block{
	width: 100%;
	min-height: 150px;
	background-color: #F5FFF0;
	border-radius: 11px;
	border: 1px solid #72B571;
	overflow: hidden;
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 15px;
	box-sizing: border-box;
}
.news__block:hover{
	background-color: #e6eee2;
}
.news__img{
	width: 240px;
	height: 180px;
	background-size: cover;
}
.news__text{
		width:65%;
}
.news__text-t{
	/*background-color: red;*/
	min-height: 150px;
	width:65%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.news__p{
	/*background-color: yellow;*/
	font-size: 2em;
}
.news__p2{
		font-size: 1.3em;
		padding-top:15px;
}
#news-service{
	display: none;
}
.q-service{
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 11px;
	background-color: #F5FFF0;
	border: 1px solid #72B571;
}
.q-service:hover{
	background-color: #e6eee2;
}
.leg-service{
	background-color: white;
	border-radius: 11px;
	padding: 10px;
	border: 1px solid #72B571;
}
#close-settings, #delete-setting{
	display: none;
}
.button-service{
	background-color: #F5FFF0;
	border: 4px double #72B571;
	border-radius: 11px;
	padding: 10px;
	margin-bottom: 20px;
}
.button-service:hover{
	color: white;
	background-color: green;
	border: 4px double green;
}
.service-input{
  transform:scale(2);
  opacity:0.9;
  cursor: pointer;
  margin-right: 40px;
  z-index: 1;
}
