body{
  background-image: url(../pictures/background.png);
  background-size: 100%;
}
main{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
	padding-top: 84px;
}
.header{
    border-bottom: 1px solid #67EE28;
}
div.num-close{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 1em;
  box-sizing: border-box;
}
.close-test:hover{
  	filter: invert(.4);
    cursor: pointer;
}
.name-test{
  display: flex;
  justify-content:center;
  padding: 20px;
}
div.test{
  width: 100%;
  padding-left: 20%;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	min-height: 100px;
  /*background-color: white;*/
  box-sizing: border-box;
}

.block-test{
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.test-img{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
	background-size: cover;
}
.test-q{
  padding-top: 1em;
  padding-bottom: 2em;
}
.test-col{
  padding-bottom: 2em;
}
.test-answ{
  padding-bottom: 2.5em;

}
.test-res{
  width: 90%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.buttons-test{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}
.button-b, .button-f{
  border: 0;
  width:100px;
  padding-top:1em;
  padding-bottom: 1em;
  border-radius: 8px;
  background-color: #67EE28;
  font-weight: bolder;
}
.button-again, .button-other{
  border: 0;
  width:150px;
  padding-top:1em;
  padding-bottom: 1em;
  border-radius: 8px;
  background-color: #67EE28;
  font-weight: bolder;
}
.button-again:hover, .button-other:hover,
.button-f:hover, .button-b:hover{
  background-color: green;
  cursor: pointer;
}
.test-radio{
  transform:scale(2);
  opacity:0.9;
  cursor: pointer;
  margin-right: 40px;
  z-index: 1;
}
