
#registration_open{
	width: 100%;
	height: 100%;
	position:fixed;
	background: rgba(102, 102, 102, 0.5);
	overflow: auto;
	border: solid red;
	display: none;
	z-index: 10000;
}

#registration_open:target{
	display: block;
}

#login_open{
	width: 100%;
	height: 100%;
	position:fixed;
	background: rgba(102, 102, 102, 0.5);
	overflow: auto;
	border: solid red;
	display: none;
	z-index: 10000;
}

#login_open:target{
	display: block;
}

div.registration{
	justify-content: center;
	align-items: center;
	display: flex;
	min-height: 578px;
	font-family: Helvetica;
	padding:0;
	margin: 0;
}

div.form_main_title{
	width: 300px;
	height: 420px;
	background-color: green;
	overflow: hidden;
	border-radius: 20px 20px;
}

div.title_registration{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	height: 60px;
	background-color: black;
	color: white;
}

ul.registration_buttons{
	margin: 0;
	padding: 4px;
}

ul.registration_buttons li{
	display: inline;
	margin-right: 5px;
}

a.registration_buttons{
	display: inline-block;
	color: rgb(205,216,228);
	text-decoration: none;
	padding: .4em .8em;
	background-image:
	radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent),
	radial-gradient(1px 60% at 100% 50%, rgba(255,255,255,.3), transparent),
	linear-gradient(rgb(64,73,82), rgb(72,81,90));
}

a.registration_buttons:hover{
	color: black;
}

#closePopUp{
	color: rgb(205,216,228);
	padding: .2em .2em;
	padding-right: 1.5em;
	text-decoration: none;
}

#closePopUp2{
	color: rgb(205,216,228);
	padding: .2em .2em;
	padding-right: 1.5em;
	text-decoration: none;
}

div.form_child_title{
	display: flex;
	justify-content: center;
	align-items: center;
	/*
	background-color: yellow;
	*/
	width: 300px;
	height: 360px;
}

form.registration{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/*
	background-color: red;
	*/
	width: 230px;
	height: 300px;
}

div.elements_registration{
	/*
	background-color: red;
	*/
	width: 215px;
	color:white;
}

div.titles{
	font-size: 0.8em;
	padding: 5px;
}

input.registration{
	width: 195px;
	height: 27px;
	border-radius: 5px 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: none;
}

input.submit_registration{
	width: 150px;
	height: 40px;
	border-radius: 8px 8px;
	padding: 0
}

input#submit:hover{
	background-color: black;
	color: white;
}

.elements-r{
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
}
