body{
  background-color: black;
  color: white;
}
main{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
	padding-top: 12vh;
}
div.num-close{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
  box-sizing: border-box;
}
a.close-test{
  color: white;
	text-decoration: none;
}
a.close-test:hover{
    color: grey;
}
.name-test{
  display: flex;
  justify-content:center;
}
div.test{
  width: 100%;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	min-height: 100px;
  /*background-color: white;*/
  box-sizing: border-box;
}
.buttons-test{
  width: 100%;
  display: flex;
  padding-top: 10vh;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}
.button-b{
  border: 0;
  width:100px;
  padding-top:1em;
  padding-bottom: 1em;
  border-radius: 8px;
  background-color: #67EE28;
  font-weight: bolder;
}
.button-b:hover{
  background-color: green;
}
.button-f{
  border: 0;
  width:100px;
  padding-top:1em;
  padding-bottom: 1em;
  border-radius: 8px;
  background-color: #67EE28;
  font-weight: bolder;
}
.button-f:hover{
  background-color: green;
}
.form-test{
  min-height: 50vh;
}
.test-q{
  padding-top: 1em;
  padding-bottom: 2em;
}
.test-col{
  padding-bottom: 2em;
}
.test-answ{
  padding-bottom: 0.5em
}
