.menu-open{
 width: 100%;
 min-height: 100vh;
 background-color: grey;
 color: white;
 display: none;
}
.nav-menu{
  min-height: 60vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__menu{
  padding-left: 10px;
}
.navmenu-links{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-open__link{
	display: inline-block;
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 2em;
	text-decoration: none;
}
.close-menu{
  display: flex;
  justify-content: flex-end;
  padding-top: 10vh;
  padding-right: 10vw;
}
